@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lora:ital,wght@1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 680px) {
    body {
        flex-direction: column;
    }
}